nav.nav{
    padding: 40px 90px 40px 90px;
    border-bottom: 1px solid var(--neutral-600, #4B5563);
}
.nav-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}
h1.nav-block_heading-text{
    color: #000;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
h1.nav-block_cv-text{
    color: #831ED2;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}
.nav-block_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 15px;
}
.nav-block_menu-text{
    color: #000;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.nav-block_menu img{
    width: 24px;
    height: 24px;
}


header.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 90px;
    padding-top: 140px;
    height: calc(100vh - 114px);
    background-image: url('../assets/Loader\ -\ Desktopbg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:40%;
}
.header-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}
.header-main_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-grow: 1;

}
.header-main_left-head{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}
.header-main_left-head-line{
    width: 39.051px;
    height: 3px;
    background: #000;
    border-radius: 10px;
}
.header-main_left-head-text{
    color: #000;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header-main_right{
    display: flex;
    flex-direction: column;
}
.header-main_right-text{
    width: 486px;
    color: #000;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header-main_left-headingText{
    color: #000;
    font-family: Vollkorn;
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height:100%; 
}


.select-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.select-menu hr{
    width: 100vw;
    height: 1px;
    background: rgb(0, 0, 0, 0.10);
}
.select-menu_tabs{
    display: flex;
    flex-direction: row;
    gap: 90px;
}
.select-menu_tab{
    display: flex;
    height: 47px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
.select-menu_tab_actived {
    cursor: pointer;
    display: flex;
    height: 47px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-bottom: 1px solid #000;
}
.select-menu_tab {
    cursor: pointer;
    display: flex;
    height: 47px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
.select-menu_tab_actived h3{
    color: #000;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
.select-menu_tab h3{
    color: #000;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}


.bio {
    position: absolute;
    bottom: 30px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.bio h1{
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    color: #000;
    font-family: Manrope;
    font-size: 16.472px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.bio a{
    color: #000;
}


main.main{
    display: flex;
    flex-direction: column;
    padding: 30px 90px;
}
.main-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 60px;
}
.main-nav_text{
    color: #000;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.main-nav_tabs{
    display: inline-flex;
    align-items: flex-start;
    gap: 28px;
}
.main-nav_tab{
    cursor: pointer;
    display: flex;
    height: 26px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 18px;
    border: 1px solid var(--dark-mode-dk-400, #565656);
}
.main-nav_tab_active{
    cursor: pointer;
    display: flex;
    height: 26px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 18px;
    background: var(--dark-mode-dk-400, #565656);
}
.main-nav_tab_text_active{
    color: var(--dark-mode-lt-10, #DDD);
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}
.main-nav_tab_text{
    color: var(--dark-mode-dk-400, #565656);
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}
.main-project{
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}
.main-project_page{
    display: flex;
    width: 50%;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.main-project_page img{
    width: 100%;
    object-fit: cover;

    height: 250px;
    background:lightgray 50% / cover no-repeat;
}
.main-project_page-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.main-project_page-textarea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.main-project_page-textarea h1{
    color: #000;
    font-family: Vollkorn;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
}
.main-project_page-textarea p{
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.main-project_page-text-btn{
    display: flex;
    height: 26px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 18px;
    border: 1px solid var(--dark-mode-dk-400, #565656); 
}
.main-project_page-text-btn h1{
    color: var(--dark-mode-dk-400, #565656);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}


.footer{ 
    
    display: flex;
    width: 100%;
    height: 85px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--neutral-600, #4B5563);
}
.footer-text{
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.footer-text a{
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
}

.alertify-notifier {
    color: white ;
    font-family: Vollkorn;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}
.alertify-notifier .ajs-message.ajs-success{
    background: #831ED2 ;
}


.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #232323;
    display: none;
    flex-direction: column;
    gap: 150px;
    
    padding: 40px 90px 40px 90px;
}
.menu-close{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
p.menu-close_text{
    color: #FFF;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menu-close svg{
    width: 32px;
    height: 32px;
}
.menu-main{
    
    
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu-main_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.menu-main_left-text{
    color: var(--neutral-50, #F9FAFB);
    font-family: Manrope;
    font-size: 108.419px;
    font-style: normal;
    font-weight: 500;
}
.menu-main_right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}
.menu-main_right-text{
    color: var(--neutral-50, #F9FAFB);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.menu-main_right-text-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.menu-main_right-text-div p{
    color: var(--neutral-50, #F9FAFB);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading h1{
    color: var(--neutral-50, #F9FAFB);
    font-family: Vollkorn;
    font-size: 10rem;
    font-style: normal;
    font-weight: 400;
}



